<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@utilisateurs.add.headline">Add Utilisateurs</h1>
    <div>
        <a routerLink="/utilisateurss" class="btn btn-secondary" i18n="@@utilisateurs.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="nom" i18n-label="@@utilisateurs.nom.label" label="Nom" />
    <app-input-row [group]="addForm" field="email" i18n-label="@@utilisateurs.email.label" label="Email" />
    <input type="submit" i18n-value="@@utilisateurs.add.headline" value="Add Utilisateurs" class="btn btn-primary mt-4" />
</form>
