<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@reservations.edit.headline">Edit Reservations</h1>
    <div>
        <a routerLink="/reservationss" class="btn btn-secondary" i18n="@@reservations.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@reservations.id.label" label="Id" />
    <app-input-row [group]="editForm" field="statut" rowType="radio" [options]="{'EN_ATTENTE': 'EN_ATTENTE', 'CONFIRMEE': 'CONFIRMEE', 'ANNULEE': 'ANNULEE'}" i18n-label="@@reservations.statut.label" label="Statut" />
    <app-input-row [group]="editForm" field="utilisateur" rowType="select" [options]="utilisateurValues" i18n-label="@@reservations.utilisateur.label" label="Utilisateur" />
    <app-input-row [group]="editForm" field="seance" rowType="select" [options]="seanceValues" i18n-label="@@reservations.seance.label" label="Seance" />
    <input type="submit" i18n-value="@@reservations.edit.headline" value="Edit Reservations" class="btn btn-primary mt-4" />
</form>
