<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@jurys.list.headline">Juryses</h1>
    <div>
        <a routerLink="/juryss/add" class="btn btn-primary ms-2" i18n="@@jurys.list.createNew">Create new Jurys</a>
    </div>
</div>
@if (!juryses || juryses.length === 0) {
<div i18n="@@jurys.list.empty">No Juryses could be found.</div>
} @else {
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th scope="col" i18n="@@jurys.id.label">Id</th>
                <th scope="col" i18n="@@jurys.nom.label">Nom</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody>
            @for (jurys of juryses; track jurys.id) {
            <tr>
                <td>{{ jurys.id }}</td>
                <td>{{ jurys.nom }}</td>
                <td>
                    <div class="float-end text-nowrap">
                        <a [routerLink]="['/juryss/edit', jurys.id]" class="btn btn-sm btn-secondary" i18n="@@jurys.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(jurys.id!)" class="btn btn-sm btn-secondary" i18n="@@jurys.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
